<nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        {% if not session.access %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
          <li><a href="/forum">Forum</a></li>
        {% else %}
          <li><a href="/adventure">Adventure</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/pokemon">Pokemon</a></li> 
        {% endif %}
      </ul>
</nav>

  