<!DOCTYPE html>
<html lang="en" style="font-family: 'Rubik', sans-serif;">
<head>
    <style>html{font-family: 'Rubik', sans-serif;}</style>
    <meta name="google-site-verification" content="Y3LDyhVXfMokqYBEeuvEgFWgAGIJBheoNaWT85nkNHU" />
    <meta name="theme-color" content="#ff7300">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <meta name="description" content="Pokezira is beta pokemon game Developed by Artrix">
    <meta name="author" content="Artrix">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/pokemon-flaticons/64/pokeball-people-pokemon-nintendo-video-game-gaming-gartoon-ball-512.png">
    <title>PokeZira - {{name}}!</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

<!--ok dont forget theres a chat-->
</head>
<body>
    <header>{% include '/includes/_navbar.html' %}</header>
    {% include '/includes/_messages.html' %}
    {% block body %}
      <input type="button" class="btn" name="Light theme"></input>
    {% endblock %}
</body>
<div id="scripts">
  {% block div %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/styles.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% endblock %}
</div>
</html>
